lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

public/js/lib/
public/img/
public/css/
public/skins/
public/swf/
server/keys/
server/node_modules/
data/
gallery/


npm-debug.log
