lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

public/js/lib/
public/img/
public/css/
public/skins/
public/swf/
public/data/
public/gallery/
node_modules/
server/keys/

npm-debug.log
